div{
    height: 200px;
    width: 400px;
    background-color: lime;
    /* border-width: 5px;
    /* border-style: solid; */
     border: 5px solid black;
    /* border: 5px solid darkcyan;
    border-left-color: yellow;
    border-right-color: black;
    /* border-top-color: greenyellow; */
    /* border-bottom-color: violet;
    border-top: 5px dashed blue; */ 
    border-radius: 3%;
    padding-left: 20px ;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
     /* margin-bottom: 50px;
     margin-left: 50px;
     margin-right: 50px;
     margin-top: 50px; */
     margin: 10px 20px 30px 40px ;

   
}

h1{
    border-width: 2px;
    border-style: dashed ;
    border-color: black;
    border-radius: 2000px;
    margin: 0;
}
button{
    border: 2px solid black;
    /* border-radius: 25px; */
    padding: 10px 20 px 22px 25px;
    background-color: yellow;
}
    