body{
    color:red;
    font-family: georgia;
    line-height: 30px;
    
}
h1,h3,h4{
    text-align: center;
}
h3{
    color: black;
}
a{
    color: #0f0;
    text-decoration: none;;
}

button{
    color: blueviolet;
    background: #fff;
}
/* hex code for black color #000 */
textarea{
    text-decoration-color:  #000;
}
span{
    text-decoration:underline ;
}