h1{
    font-weight: lighter;
    text-decoration: underline;
}
p{
    font-weight: 1000;
    text-decoration: overline;
    text-decoration: dotted underline;
    text-decoration: wavey;
}
h3{
    font-style: oblique;
    text-decoration: line-through;
}