#container{
    height: 600px;
    width: 300px;
    background-color: azure;
    margin: 10px auto ;
    border: 2px solid black;
    display:flex;
    flex-direction: row;

    

    /* Justify Content */
    justify-content: flex-start;
    /* justify-content: flex-end; */


    /* Wrap & Wrap reverse */
    /* flex-wrap: wrap; */


/* Align Items */
    /* align-items: flex-start; */ 
    /* align-items: baseline; */

    /* Align Content */
    /* align-content: baseline; */
    align-content: flex-start; 
    /* align-self: flex-start; */
   
}
#orange{
    align-self: flex-start;
    /* flex-basis: 50px;  */
    /* flex-grow: 1; */
     flex: 2 2 100px;

}
#blue{
    /* flex-basis: 400px; */
    /* flex-grow: 3;*/
    /* max-width: 400;
    min-width: 400; */
    flex-shrink: 1;
    
}

h1{
    text-align: center;
}

#container div{
    height: 100px;
    width: 50px;
    color: white;
    text-align: center;
    font-size: 1.5em; 
    

} 


