.card{
    width: 250px;
    height: 250px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px black;
}

.desc{
    padding: 0 2px 0 2px;
}
img{
    width: 150px;
    border-radius: 5px 5px 0 0;
    padding: 5px 0 0 50px;
}

.card:hover{
    box-shadow: 0 8px 16px rgb(250, 213, 3);
    transition: 1s;
    
    
} 